In [1]:
import pandas as pd

## Total España

In [2]:
espanya = pd.read_csv("./evolucion_de_los_casos_de_gripe_en_españa,_por_semanas.csv" , sep= ';')
espanya.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Año                                   188 non-null    object
 1   Periodo                               178 non-null    object
 2   Tasa de gripe por 100.000 habitantes  178 non-null    object
dtypes: object(3)
memory usage: 4.6+ KB

In [3]:
espanya.head()

    Año    Periodo Tasa de gripe por 100.000 habitantes
0  2015  Semana 40                                  5,1
1  2015  Semana 41                                 7,56
2  2015  Semana 42                                 8,45
3  2015  Semana 43                                11,69
4  2015  Semana 44                                 12,4

In [4]:
espanya.tail(20)

,Año,Periodo,Tasa de gripe por 100.000 habitantes
172,2020,Semana 52,0
173,2020,Semana 53,0
174,2021,Semana 1,0
175,2021,Semana 2,0
176,2021,Semana 3,0
177,2021,Semana 4,0
178,NaN,NaN,NaN
179,NaN,NaN,NaN
180,"Métrica:""Tasa de gripe por 100.000 habitantes""",NaN,NaN
181,"Fuente:""Red Nacional de Vigilancia Epidemiológ...",NaN,NaN
182,"Clasificación:""""",NaN,NaN
183,"Unidad:""Tasa de gripe por cada 100.000 habitan...",NaN,NaN
184,"Escala:""Unidades""",NaN,NaN
185,"EscalaFactorPotencia10:""0""",NaN,NaN
186,"SonDatosNumericos:""True""",NaN,NaN
187,NaN,NaN,NaN
188,NaN,NaN,NaN
189,"Url:""https://www.epdata.es/evolucion-casos-gri...",NaN,NaN
190,"Titulo:""Evolución de los casos de gripe en Esp...",NaN,NaN
191,"Subtitulo:""""",NaN,NaN

In [5]:
espanya = espanya.iloc[:178 , :]

In [6]:
semanas = []
for periodo in espanya['Periodo']:
    periodo_lista = periodo.split(' ')
    semanas.append(periodo_lista[1])
espanya['Semana'] = semanas

In [7]:
espanya

      Año    Periodo Tasa de gripe por 100.000 habitantes Semana
0    2015  Semana 40                                  5,1     40
1    2015  Semana 41                                 7,56     41
2    2015  Semana 42                                 8,45     42
3    2015  Semana 43                                11,69     43
4    2015  Semana 44                                 12,4     44
..    ...        ...                                  ...    ...
173  2020  Semana 53                                    0     53
174  2021   Semana 1                                    0      1
175  2021   Semana 2                                    0      2
176  2021   Semana 3                                    0      3
177  2021   Semana 4                                    0      4

[178 rows x 4 columns]

In [8]:
tasa = []
for valor in espanya['Tasa de gripe por 100.000 habitantes']:
    if valor != '0':
        lista_valor = valor.split(',')
        new_valor = float('.'.join(lista_valor))
    else:
        new_valor = 0.0
    tasa.append(new_valor)
espanya['Tasa gripe x 100.000 habitantes total'] = tasa

In [9]:
tasa_total = espanya.iloc[: , -2:]
anyos= espanya.iloc[:,0:1]
tasa_gripe_semanal = pd.concat([anyos , tasa_total] , axis=1)
tasa_gripe_semanal.head()

    Año Semana  Tasa gripe x 100.000 habitantes total
0  2015     40                                   5.10
1  2015     41                                   7.56
2  2015     42                                   8.45
3  2015     43                                  11.69
4  2015     44                                  12.40

In [10]:
tasa_gripe_semanal.to_csv('./purgado/tasa_semanal_gripe_España.csv' , sep= ';' , index= False)

### Funcion de tratamiento de los dataframes

In [11]:
def tratamiento_df(df , ccaa):
    #Eliminar 'Semana'
    semanas = []
    for periodo in df['Periodo']:
        periodo_lista = periodo.split(' ')
        semanas.append(periodo_lista[1])
    df['Semana'] = semanas

    #Transformar tasa en 'float'
    tasa = []
    for valor in df['Gripe']:
        if valor != '0':
            lista_valor = valor.split(',')
            new_valor = float('.'.join(lista_valor))
        else:
            new_valor = 0.0
        tasa.append(new_valor)
    df[ccaa] = tasa

    #Limpiar columnas sobrantes
    tasa_ = df.iloc[:,-2:]
    anyos = df['Año']
    df = pd.concat([anyos , tasa_] , axis= 1)

    #Guardado en csv
    df.to_csv('./purgado/tasa_semanal_gripe_' + ccaa + '.csv' , sep= ';' , index= False)

Las comunidades autonomas no presentan el mismo numero de semanas, por eso se tratan cada una por separado

## Andalucia

In [12]:
andalucia = pd.read_csv("./la_tasa_de_gripe_en_andalucia_se_situa_en_98,44__por_100.000_habitantes.csv" , sep= ';')

In [13]:
andalucia.head()

    Año    Periodo Gripe
0  2015  Semana 40  1,72
1  2015  Semana 41   2,4
2  2015  Semana 42   6,1
3  2015  Semana 43  5,31
4  2015  Semana 44  7,82

In [14]:
andalucia.tail(15)

                                                   Año   Periodo  Gripe
111                                               2019  Semana 3  98,44
112                                                NaN       NaN    NaN
113                                                NaN       NaN    NaN
114                                    Métrica:"Gripe"       NaN    NaN
115  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN    NaN
116                                   Clasificación:""       NaN    NaN
117  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN    NaN
118                                  Escala:"Unidades"       NaN    NaN
119                         EscalaFactorPotencia10:"0"       NaN    NaN
120                           SonDatosNumericos:"True"       NaN    NaN
121                                                NaN       NaN    NaN
122                                                NaN       NaN    NaN
123  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN    NaN
124  Titulo:"La tasa de gripe en Andalucía se sitúa...       NaN    NaN
125                                       Subtitulo:""       NaN    NaN

In [15]:
andalucia = andalucia.iloc[:112 , :]
andalucia.tail()

      Año    Periodo  Gripe
107  2018  Semana 51  13,67
108  2018  Semana 52  11,28
109  2019   Semana 1  18,16
110  2019   Semana 2  45,48
111  2019   Semana 3  98,44

In [16]:
tratamiento_df(andalucia , 'Andalucia')

## Aragón

In [17]:
aragon = pd.read_csv('./la_tasa_de_gripe_en_aragon_se_situa_en_0__por_100.000_habitantes.csv' , sep= ';')

In [18]:
aragon.head()

    Año    Periodo  Gripe
0  2015  Semana 40   2,33
1  2015  Semana 41  15,38
2  2015  Semana 42  12,28
3  2015  Semana 43  24,42
4  2015  Semana 44  21,68

In [19]:
aragon.tail(15)

                                                   Año   Periodo Gripe
102                                               2019  Semana 3     0
103                                                NaN       NaN   NaN
104                                                NaN       NaN   NaN
105                                    Métrica:"Gripe"       NaN   NaN
106  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN   NaN
107                                   Clasificación:""       NaN   NaN
108  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN   NaN
109                                  Escala:"Unidades"       NaN   NaN
110                         EscalaFactorPotencia10:"0"       NaN   NaN
111                           SonDatosNumericos:"True"       NaN   NaN
112                                                NaN       NaN   NaN
113                                                NaN       NaN   NaN
114  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN   NaN
115  Titulo:"La tasa de gripe en Aragón se sitúa en...       NaN   NaN
116                                       Subtitulo:""       NaN   NaN

In [20]:
aragon = aragon.iloc[:103 , :]
aragon.tail()

      Año    Periodo Gripe
98   2018  Semana 20  2,41
99   2018  Semana 40     0
100  2018  Semana 41     0
101  2019   Semana 2     0
102  2019   Semana 3     0

In [21]:
tratamiento_df(aragon , 'Aragón')

## Asturias

In [22]:
asturias = pd.read_csv('./la_tasa_de_gripe_en_asturias,_principado_de_se_situa_en_246,06__por_100.000_habitantes.csv' , sep= ';')

In [23]:
asturias.head()

    Año    Periodo  Gripe
0  2015  Semana 40  19,03
1  2015  Semana 41  18,04
2  2015  Semana 42  49,68
3  2015  Semana 43  27,06
4  2015  Semana 44  30,79

In [24]:
asturias.tail(15)

                                                   Año   Periodo   Gripe
114                                               2019  Semana 3  246,06
115                                                NaN       NaN     NaN
116                                                NaN       NaN     NaN
117                                    Métrica:"Gripe"       NaN     NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
119                                   Clasificación:""       NaN     NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
121                                  Escala:"Unidades"       NaN     NaN
122                         EscalaFactorPotencia10:"0"       NaN     NaN
123                           SonDatosNumericos:"True"       NaN     NaN
124                                                NaN       NaN     NaN
125                                                NaN       NaN     NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
127  Titulo:"La tasa de gripe en Asturias, Principa...       NaN     NaN
128                                       Subtitulo:""       NaN     NaN

In [25]:
asturias = asturias.iloc[:115 , :]
asturias.tail()

      Año    Periodo   Gripe
110  2018  Semana 51   29,74
111  2018  Semana 52   56,45
112  2019   Semana 1   36,56
113  2019   Semana 2  146,98
114  2019   Semana 3  246,06

In [26]:
tratamiento_df(asturias , 'Asturias')

## Canarias

In [27]:
canarias = pd.read_csv('./la_tasa_de_gripe_en_canarias_se_situa_en_154,16__por_100.000_habitantes.csv' , sep= ';')
canarias.head()

    Año    Periodo  Gripe
0  2015  Semana 40  39,01
1  2015  Semana 41  37,53
2  2015  Semana 42  32,58
3  2015  Semana 43  29,42
4  2015  Semana 44  33,87

In [28]:
canarias.tail(15)

                                                   Año   Periodo   Gripe
113                                               2019  Semana 3  154,16
114                                                NaN       NaN     NaN
115                                                NaN       NaN     NaN
116                                    Métrica:"Gripe"       NaN     NaN
117  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
118                                   Clasificación:""       NaN     NaN
119  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
120                                  Escala:"Unidades"       NaN     NaN
121                         EscalaFactorPotencia10:"0"       NaN     NaN
122                           SonDatosNumericos:"True"       NaN     NaN
123                                                NaN       NaN     NaN
124                                                NaN       NaN     NaN
125  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
126  Titulo:"La tasa de gripe en Canarias se sitúa ...       NaN     NaN
127                                       Subtitulo:""       NaN     NaN

In [29]:
canarias = canarias.iloc[:114 , :]
canarias.tail()

      Año    Periodo   Gripe
109  2018  Semana 51   21,92
110  2018  Semana 52   29,14
111  2019   Semana 1   34,84
112  2019   Semana 2   72,45
113  2019   Semana 3  154,16

In [30]:
tratamiento_df(canarias , 'Canarias')

## Cantabria

In [31]:
cantabria = pd.read_csv('./la_tasa_de_gripe_en_cantabria_se_situa_en_532,49__por_100.000_habitantes.csv' , sep= ';')
cantabria.head()

    Año    Periodo Gripe
0  2015  Semana 40     0
1  2015  Semana 41  3,24
2  2015  Semana 42  6,17
3  2015  Semana 43  6,19
4  2015  Semana 44  6,53

In [32]:
cantabria.tail(15)

                                                   Año   Periodo   Gripe
111                                               2019  Semana 3  532,49
112                                                NaN       NaN     NaN
113                                                NaN       NaN     NaN
114                                    Métrica:"Gripe"       NaN     NaN
115  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
116                                   Clasificación:""       NaN     NaN
117  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
118                                  Escala:"Unidades"       NaN     NaN
119                         EscalaFactorPotencia10:"0"       NaN     NaN
120                           SonDatosNumericos:"True"       NaN     NaN
121                                                NaN       NaN     NaN
122                                                NaN       NaN     NaN
123  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
124  Titulo:"La tasa de gripe en Cantabria se sitúa...       NaN     NaN
125                                       Subtitulo:""       NaN     NaN

In [33]:
cantabria = cantabria.iloc[:112 , :]
cantabria.tail()

      Año    Periodo   Gripe
107  2018  Semana 51    69,3
108  2018  Semana 52   96,87
109  2019   Semana 1     177
110  2019   Semana 2   485,1
111  2019   Semana 3  532,49

In [34]:
tratamiento_df(cantabria , 'Cantabria')

## Castilla-La mancha

In [35]:
clm = pd.read_csv('./la_tasa_de_gripe_en_castilla_-_la_mancha_se_situa_en_181,2__por_100.000_habitantes.csv' , sep= ';')
clm.head()

    Año    Periodo Gripe
0  2015  Semana 40  2,96
1  2015  Semana 41  3,08
2  2015  Semana 42  1,44
3  2015  Semana 43  5,63
4  2015  Semana 44  9,93

In [36]:
clm.tail(15)

                                                   Año   Periodo  Gripe
114                                               2019  Semana 3  181,2
115                                                NaN       NaN    NaN
116                                                NaN       NaN    NaN
117                                    Métrica:"Gripe"       NaN    NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN    NaN
119                                   Clasificación:""       NaN    NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN    NaN
121                                  Escala:"Unidades"       NaN    NaN
122                         EscalaFactorPotencia10:"0"       NaN    NaN
123                           SonDatosNumericos:"True"       NaN    NaN
124                                                NaN       NaN    NaN
125                                                NaN       NaN    NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN    NaN
127  Titulo:"La tasa de gripe en Castilla - La Manc...       NaN    NaN
128                                       Subtitulo:""       NaN    NaN

In [37]:
clm = clm.iloc[:115 , :]
clm.tail()

      Año    Periodo  Gripe
110  2018  Semana 51   8,86
111  2018  Semana 52   4,71
112  2019   Semana 1  22,59
113  2019   Semana 2  68,29
114  2019   Semana 3  181,2

In [38]:
tratamiento_df(clm , 'Castilla-La mancha')

## Castilla y León

In [39]:
cyl = pd.read_csv('./la_tasa_de_gripe_en_castilla_y_leon_se_situa_en_299,32__por_100.000_habitantes.csv' , sep= ';')
cyl.head()

    Año    Periodo  Gripe
0  2015  Semana 40  11,71
1  2015  Semana 41      0
2  2015  Semana 42  22,52
3  2015  Semana 43    3,5
4  2015  Semana 44      0

In [40]:
cyl.tail(15)

                                                   Año   Periodo   Gripe
114                                               2019  Semana 3  299,32
115                                                NaN       NaN     NaN
116                                                NaN       NaN     NaN
117                                    Métrica:"Gripe"       NaN     NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
119                                   Clasificación:""       NaN     NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
121                                  Escala:"Unidades"       NaN     NaN
122                         EscalaFactorPotencia10:"0"       NaN     NaN
123                           SonDatosNumericos:"True"       NaN     NaN
124                                                NaN       NaN     NaN
125                                                NaN       NaN     NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
127  Titulo:"La tasa de gripe en Castilla y León se...       NaN     NaN
128                                       Subtitulo:""       NaN     NaN

In [41]:
cyl = cyl.iloc[:115 , :]
cyl.tail()

      Año    Periodo   Gripe
110  2018  Semana 51   27,25
111  2018  Semana 52   26,31
112  2019   Semana 1   34,68
113  2019   Semana 2   98,97
114  2019   Semana 3  299,32

In [42]:
tratamiento_df(cyl , 'Castilla y León')

## Cataluña

In [43]:
cat = pd.read_csv('./la_tasa_de_gripe_en_cataluña_se_situa_en_277,67__por_100.000_habitantes.csv' , sep= ';')
cat.head()

    Año    Periodo  Gripe
0  2015  Semana 40   4,78
1  2015  Semana 41  14,86
2  2015  Semana 42   4,56
3  2015  Semana 43  27,46
4  2015  Semana 44  28,57

In [44]:
cat.tail(15)

                                                   Año   Periodo   Gripe
114                                               2019  Semana 3  277,67
115                                                NaN       NaN     NaN
116                                                NaN       NaN     NaN
117                                    Métrica:"Gripe"       NaN     NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
119                                   Clasificación:""       NaN     NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
121                                  Escala:"Unidades"       NaN     NaN
122                         EscalaFactorPotencia10:"0"       NaN     NaN
123                           SonDatosNumericos:"True"       NaN     NaN
124                                                NaN       NaN     NaN
125                                                NaN       NaN     NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
127  Titulo:"La tasa de gripe en Cataluña se sitúa ...       NaN     NaN
128                                       Subtitulo:""       NaN     NaN

In [45]:
cat = cat.iloc[:115 , :]
cat.tail()

      Año    Periodo   Gripe
110  2018  Semana 51   57,17
111  2018  Semana 52   71,24
112  2019   Semana 1   94,46
113  2019   Semana 2  119,59
114  2019   Semana 3  277,67

In [46]:
tratamiento_df(cat , 'Cataluña')

## Ceuta

In [47]:
ceuta = pd.read_csv('./la_tasa_de_gripe_en_ceuta_se_situa_en_114,72__por_100.000_habitantes.csv' , sep= ';')
ceuta.head()

    Año    Periodo Gripe
0  2015  Semana 40     0
1  2015  Semana 41     0
2  2015  Semana 42     0
3  2015  Semana 43     0
4  2015  Semana 44     0

In [48]:
ceuta.tail(15)

                                                   Año   Periodo   Gripe
112                                               2019  Semana 3  114,72
113                                                NaN       NaN     NaN
114                                                NaN       NaN     NaN
115                                    Métrica:"Gripe"       NaN     NaN
116  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
117                                   Clasificación:""       NaN     NaN
118  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
119                                  Escala:"Unidades"       NaN     NaN
120                         EscalaFactorPotencia10:"0"       NaN     NaN
121                           SonDatosNumericos:"True"       NaN     NaN
122                                                NaN       NaN     NaN
123                                                NaN       NaN     NaN
124  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
125  Titulo:"La tasa de gripe en Ceuta se sitúa en ...       NaN     NaN
126                                       Subtitulo:""       NaN     NaN

In [49]:
ceuta = ceuta.iloc[:113 , :]
ceuta.tail()

      Año    Periodo   Gripe
108  2018  Semana 51   45,68
109  2018  Semana 52       0
110  2019   Semana 1   12,86
111  2019   Semana 2   76,13
112  2019   Semana 3  114,72

In [50]:
tratamiento_df(ceuta , 'Ceuta')

## Madrid

In [51]:
madrid = pd.read_csv('./la_tasa_de_gripe_en_comunidad_de_madrid_se_situa_en_127,53__por_100.000_habitantes.csv' , sep= ';')
madrid.head()

    Año    Periodo  Gripe
0  2015  Semana 40   4,33
1  2015  Semana 41   5,33
2  2015  Semana 42   2,23
3  2015  Semana 43  19,06
4  2015  Semana 44  14,58

In [52]:
madrid.tail(15)

                                                   Año   Periodo   Gripe
110                                               2019  Semana 3  127,53
111                                                NaN       NaN     NaN
112                                                NaN       NaN     NaN
113                                    Métrica:"Gripe"       NaN     NaN
114  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
115                                   Clasificación:""       NaN     NaN
116  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
117                                  Escala:"Unidades"       NaN     NaN
118                         EscalaFactorPotencia10:"0"       NaN     NaN
119                           SonDatosNumericos:"True"       NaN     NaN
120                                                NaN       NaN     NaN
121                                                NaN       NaN     NaN
122  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
123  Titulo:"La tasa de gripe en Comunidad de Madri...       NaN     NaN
124                                       Subtitulo:""       NaN     NaN

In [53]:
madrid = madrid.iloc[:111 , :]
madrid.tail()

      Año    Periodo   Gripe
106  2018  Semana 50   12,18
107  2018  Semana 52   43,47
108  2019   Semana 1   27,81
109  2019   Semana 2   74,49
110  2019   Semana 3  127,53

In [54]:
tratamiento_df(madrid , 'Madrid')

## Comunidad Valenciana

In [55]:
valencia = pd.read_csv('./la_tasa_de_gripe_en_comunidad_valenciana_se_situa_en_119,92__por_100.000_habitantes.csv' , sep= ';')
valencia.head()

    Año    Periodo Gripe
0  2015  Semana 40     0
1  2015  Semana 41  2,55
2  2015  Semana 42  4,32
3  2015  Semana 43     0
4  2015  Semana 44  3,52

In [56]:
valencia.tail(15)

                                                   Año   Periodo   Gripe
113                                               2019  Semana 3  119,92
114                                                NaN       NaN     NaN
115                                                NaN       NaN     NaN
116                                    Métrica:"Gripe"       NaN     NaN
117  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
118                                   Clasificación:""       NaN     NaN
119  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
120                                  Escala:"Unidades"       NaN     NaN
121                         EscalaFactorPotencia10:"0"       NaN     NaN
122                           SonDatosNumericos:"True"       NaN     NaN
123                                                NaN       NaN     NaN
124                                                NaN       NaN     NaN
125  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
126  Titulo:"La tasa de gripe en Comunidad Valencia...       NaN     NaN
127                                       Subtitulo:""       NaN     NaN

In [57]:
valencia = valencia.iloc[:114 , :]
valencia.tail()

      Año    Periodo   Gripe
109  2018  Semana 51   20,32
110  2018  Semana 52   47,05
111  2019   Semana 1   21,12
112  2019   Semana 2   52,15
113  2019   Semana 3  119,92

In [58]:
tratamiento_df(valencia , 'Valencia')

## Extremadura

In [59]:
extrem = pd.read_csv('./la_tasa_de_gripe_en_extremadura_se_situa_en_86,23__por_100.000_habitantes.csv' , sep= ';')
extrem.head()

    Año    Periodo  Gripe
0  2015  Semana 40      0
1  2015  Semana 41  19,01
2  2015  Semana 42  12,82
3  2015  Semana 43  10,23
4  2015  Semana 44  30,49

In [60]:
extrem.tail(15)

                                                   Año   Periodo  Gripe
111                                               2019  Semana 3  86,23
112                                                NaN       NaN    NaN
113                                                NaN       NaN    NaN
114                                    Métrica:"Gripe"       NaN    NaN
115  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN    NaN
116                                   Clasificación:""       NaN    NaN
117  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN    NaN
118                                  Escala:"Unidades"       NaN    NaN
119                         EscalaFactorPotencia10:"0"       NaN    NaN
120                           SonDatosNumericos:"True"       NaN    NaN
121                                                NaN       NaN    NaN
122                                                NaN       NaN    NaN
123  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN    NaN
124  Titulo:"La tasa de gripe en Extremadura se sit...       NaN    NaN
125                                       Subtitulo:""       NaN    NaN

In [61]:
extrem = extrem.iloc[:112 , :]
extrem.tail()

      Año    Periodo  Gripe
107  2018  Semana 51  66,14
108  2018  Semana 52  27,12
109  2019   Semana 1   20,9
110  2019   Semana 2  45,17
111  2019   Semana 3  86,23

In [62]:
tratamiento_df(extrem , 'Extremadura')

## Islas Baleares

In [63]:
bal = pd.read_csv('./la_tasa_de_gripe_en_islas_baleares_se_situa_en_132,8__por_100.000_habitantes.csv' , sep= ';')
bal.head()

    Año    Periodo Gripe
0  2015  Semana 40  4,86
1  2015  Semana 41  2,73
2  2015  Semana 42  8,03
3  2015  Semana 43  2,39
4  2015  Semana 44     0

In [64]:
bal.tail(15)

                                                   Año   Periodo  Gripe
113                                               2019  Semana 3  132,8
114                                                NaN       NaN    NaN
115                                                NaN       NaN    NaN
116                                    Métrica:"Gripe"       NaN    NaN
117  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN    NaN
118                                   Clasificación:""       NaN    NaN
119  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN    NaN
120                                  Escala:"Unidades"       NaN    NaN
121                         EscalaFactorPotencia10:"0"       NaN    NaN
122                           SonDatosNumericos:"True"       NaN    NaN
123                                                NaN       NaN    NaN
124                                                NaN       NaN    NaN
125  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN    NaN
126  Titulo:"La tasa de gripe en Islas Baleares se ...       NaN    NaN
127                                       Subtitulo:""       NaN    NaN

In [65]:
bal = bal.iloc[:114 , :]
bal.tail()

      Año    Periodo  Gripe
109  2018  Semana 50  21,49
110  2018  Semana 52   33,6
111  2019   Semana 1  40,33
112  2019   Semana 2  84,51
113  2019   Semana 3  132,8

In [66]:
tratamiento_df(bal , 'Baleares')

## La Rioja

In [67]:
rioja = pd.read_csv('./la_tasa_de_gripe_en_la_rioja_se_situa_en_239,11__por_100.000_habitantes.csv' , sep= ';')
rioja.head()

    Año    Periodo  Gripe
0  2015  Semana 40  11,02
1  2015  Semana 41   7,35
2  2015  Semana 42   3,67
3  2015  Semana 43   14,7
4  2015  Semana 44      0

In [68]:
rioja.tail(15)

                                                   Año   Periodo   Gripe
114                                               2019  Semana 3  239,11
115                                                NaN       NaN     NaN
116                                                NaN       NaN     NaN
117                                    Métrica:"Gripe"       NaN     NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
119                                   Clasificación:""       NaN     NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
121                                  Escala:"Unidades"       NaN     NaN
122                         EscalaFactorPotencia10:"0"       NaN     NaN
123                           SonDatosNumericos:"True"       NaN     NaN
124                                                NaN       NaN     NaN
125                                                NaN       NaN     NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
127  Titulo:"La tasa de gripe en La Rioja se sitúa ...       NaN     NaN
128                                       Subtitulo:""       NaN     NaN

In [69]:
rioja = rioja.iloc[:115 , :]
rioja.tail()

      Año    Periodo   Gripe
110  2018  Semana 51   21,74
111  2018  Semana 52   18,11
112  2019   Semana 1   39,85
113  2019   Semana 2   126,8
114  2019   Semana 3  239,11

In [70]:
tratamiento_df(rioja , 'La Rioja')

## Melilla

In [71]:
melilla = pd.read_csv('./la_tasa_de_gripe_en_melilla_se_situa_en_149,34__por_100.000_habitantes.csv' , sep= ';')
melilla.head()

    Año    Periodo Gripe
0  2015  Semana 40     0
1  2015  Semana 41  7,42
2  2015  Semana 42  7,42
3  2015  Semana 43     0
4  2015  Semana 44  5,41

In [72]:
melilla.tail(15)

                                                   Año   Periodo   Gripe
113                                               2019  Semana 3  149,34
114                                                NaN       NaN     NaN
115                                                NaN       NaN     NaN
116                                    Métrica:"Gripe"       NaN     NaN
117  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
118                                   Clasificación:""       NaN     NaN
119  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
120                                  Escala:"Unidades"       NaN     NaN
121                         EscalaFactorPotencia10:"0"       NaN     NaN
122                           SonDatosNumericos:"True"       NaN     NaN
123                                                NaN       NaN     NaN
124                                                NaN       NaN     NaN
125  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
126  Titulo:"La tasa de gripe en Melilla se sitúa e...       NaN     NaN
127                                       Subtitulo:""       NaN     NaN

In [73]:
melilla = melilla.iloc[:114 , :]
melilla.tail()

      Año    Periodo   Gripe
109  2018  Semana 51   96,25
110  2018  Semana 52    86,3
111  2019   Semana 1   72,41
112  2019   Semana 2  108,21
113  2019   Semana 3  149,34

In [74]:
tratamiento_df(melilla , 'Melilla')

## Navarra

In [75]:
navarra = pd.read_csv('./la_tasa_de_gripe_en_navarra,_comunidad_foral_de_se_situa_en_424,95__por_100.000_habitantes.csv' , sep= ';')
navarra.head()

    Año    Periodo  Gripe
0  2015  Semana 40      0
1  2015  Semana 41   2,97
2  2015  Semana 42  17,81
3  2015  Semana 43   8,91
4  2015  Semana 44   8,89

In [76]:
navarra.tail(15)

                                                   Año   Periodo   Gripe
114                                               2019  Semana 3  424,95
115                                                NaN       NaN     NaN
116                                                NaN       NaN     NaN
117                                    Métrica:"Gripe"       NaN     NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
119                                   Clasificación:""       NaN     NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
121                                  Escala:"Unidades"       NaN     NaN
122                         EscalaFactorPotencia10:"0"       NaN     NaN
123                           SonDatosNumericos:"True"       NaN     NaN
124                                                NaN       NaN     NaN
125                                                NaN       NaN     NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
127  Titulo:"La tasa de gripe en Navarra, Comunidad...       NaN     NaN
128                                       Subtitulo:""       NaN     NaN

In [77]:
navarra = navarra.iloc[:115 , :]
navarra.tail()

      Año    Periodo   Gripe
110  2018  Semana 51   33,39
111  2018  Semana 52   45,53
112  2019   Semana 1   15,18
113  2019   Semana 2   69,81
114  2019   Semana 3  424,95

In [78]:
tratamiento_df(navarra , 'Navarra')

## Pais Vasco

In [79]:
pv = pd.read_csv('./la_tasa_de_gripe_en_pais_vasco_se_situa_en_542,07__por_100.000_habitantes.csv' , sep= ';')
pv.head()

    Año    Periodo Gripe
0  2015  Semana 40   9,1
1  2015  Semana 41  5,95
2  2015  Semana 42  3,81
3  2015  Semana 43  6,96
4  2015  Semana 44  6,99

In [80]:
pv.tail(15)

                                                   Año   Periodo   Gripe
114                                               2019  Semana 3  542,07
115                                                NaN       NaN     NaN
116                                                NaN       NaN     NaN
117                                    Métrica:"Gripe"       NaN     NaN
118  Fuente:"Red Nacional de Vigilancia Epidemiológ...       NaN     NaN
119                                   Clasificación:""       NaN     NaN
120  Unidad:"Tasa de gripe por cada 100.000 habitan...       NaN     NaN
121                                  Escala:"Unidades"       NaN     NaN
122                         EscalaFactorPotencia10:"0"       NaN     NaN
123                           SonDatosNumericos:"True"       NaN     NaN
124                                                NaN       NaN     NaN
125                                                NaN       NaN     NaN
126  Url:"https://www.epdata.es/evolucion-gripe/e41...       NaN     NaN
127  Titulo:"La tasa de gripe en País Vasco se sitú...       NaN     NaN
128                                       Subtitulo:""       NaN     NaN

In [81]:
pv = pv.iloc[:115 , :]
pv.tail()

      Año    Periodo   Gripe
110  2018  Semana 51  164,66
111  2018  Semana 52   90,33
112  2019   Semana 1  189,27
113  2019   Semana 2   371,2
114  2019   Semana 3  542,07

In [82]:
tratamiento_df(pv , 'Pais Vasco')