In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv(".\indices_funcionamiento_por_ccaa_1991-2000.csv" , sep= ';')
df1.head(15)

   Comunidad Autónoma y Provincia                 Tipo de índice  años  Total
0                           Total             Grado de ocupación  2000     ..
1                           Total             Grado de ocupación  1999     ..
2                           Total             Grado de ocupación  1998     ..
3                           Total             Grado de ocupación  1997  79,03
4                           Total             Grado de ocupación  1996  79,88
5                           Total             Grado de ocupación  1995  79,05
6                           Total             Grado de ocupación  1994  76,74
7                           Total             Grado de ocupación  1993  77,57
8                           Total             Grado de ocupación  1992  76,77
9                           Total             Grado de ocupación  1991  76,69
10                          Total  Promedio de estancias/enfermo  2000     ..
11                          Total  Promedio de estancias/enfermo  1999     ..
12                          Total  Promedio de estancias/enfermo  1998     ..
13                          Total  Promedio de estancias/enfermo  1997   9,65
14                          Total  Promedio de estancias/enfermo  1996  10,01

In [3]:
totales = df1[(df1["Comunidad Autónoma y Provincia"] == 'Total')]
totales_ocupacion = totales[(totales['Tipo de índice'] == 'Grado de ocupación')]
totales_ocupacion

  Comunidad Autónoma y Provincia      Tipo de índice  años  Total
0                          Total  Grado de ocupación  2000     ..
1                          Total  Grado de ocupación  1999     ..
2                          Total  Grado de ocupación  1998     ..
3                          Total  Grado de ocupación  1997  79,03
4                          Total  Grado de ocupación  1996  79,88
5                          Total  Grado de ocupación  1995  79,05
6                          Total  Grado de ocupación  1994  76,74
7                          Total  Grado de ocupación  1993  77,57
8                          Total  Grado de ocupación  1992  76,77
9                          Total  Grado de ocupación  1991  76,69

In [4]:
ocupacion = df1[(df1['Tipo de índice'] == 'Grado de ocupación')]
ocupacion

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
0                             Total  Grado de ocupación  2000     ..
1                             Total  Grado de ocupación  1999     ..
2                             Total  Grado de ocupación  1998     ..
3                             Total  Grado de ocupación  1997  79,03
4                             Total  Grado de ocupación  1996  79,88
...                             ...                 ...   ...    ...
3785                        Melilla  Grado de ocupación  1995  67,05
3786                        Melilla  Grado de ocupación  1994  61,51
3787                        Melilla  Grado de ocupación  1993  57,75
3788                        Melilla  Grado de ocupación  1992  56,62
3789                        Melilla  Grado de ocupación  1991  60,44

[640 rows x 4 columns]

In [14]:
ocupacion_galicia = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Galicia')]
ocupacion_galicia

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
2880                        Galicia  Grado de ocupación  2000     ..
2881                        Galicia  Grado de ocupación  1999     ..
2882                        Galicia  Grado de ocupación  1998     ..
2883                        Galicia  Grado de ocupación  1997  76,99
2884                        Galicia  Grado de ocupación  1996  79,73
2885                        Galicia  Grado de ocupación  1995  78,88
2886                        Galicia  Grado de ocupación  1994  78,96
2887                        Galicia  Grado de ocupación  1993  79,05
2888                        Galicia  Grado de ocupación  1992  77,83
2889                        Galicia  Grado de ocupación  1991  79,24

In [16]:
ocupacion_asturias = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Asturias, Ppado de')]
ocupacion_asturias

    Comunidad Autónoma y Provincia      Tipo de índice  años  Total
840             Asturias, Ppado de  Grado de ocupación  2000     ..
841             Asturias, Ppado de  Grado de ocupación  1999     ..
842             Asturias, Ppado de  Grado de ocupación  1998     ..
843             Asturias, Ppado de  Grado de ocupación  1997  79,02
844             Asturias, Ppado de  Grado de ocupación  1996  79,58
845             Asturias, Ppado de  Grado de ocupación  1995  82,04
846             Asturias, Ppado de  Grado de ocupación  1994  78,76
847             Asturias, Ppado de  Grado de ocupación  1993  79,32
848             Asturias, Ppado de  Grado de ocupación  1992  78,90
849             Asturias, Ppado de  Grado de ocupación  1991  75,54

In [17]:
ocupacion_cantabria = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Cantabria')]
ocupacion_cantabria

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
1140                      Cantabria  Grado de ocupación  2000     ..
1141                      Cantabria  Grado de ocupación  1999     ..
1142                      Cantabria  Grado de ocupación  1998     ..
1143                      Cantabria  Grado de ocupación  1997  84,05
1144                      Cantabria  Grado de ocupación  1996  84,32
1145                      Cantabria  Grado de ocupación  1995  83,50
1146                      Cantabria  Grado de ocupación  1994  77,32
1147                      Cantabria  Grado de ocupación  1993  80,29
1148                      Cantabria  Grado de ocupación  1992  79,76
1149                      Cantabria  Grado de ocupación  1991  83,31

In [19]:
ocupacion_pais_vasco = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'País Vasco')]
ocupacion_pais_vasco

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3360                     País Vasco  Grado de ocupación  2000     ..
3361                     País Vasco  Grado de ocupación  1999     ..
3362                     País Vasco  Grado de ocupación  1998     ..
3363                     País Vasco  Grado de ocupación  1997  80,52
3364                     País Vasco  Grado de ocupación  1996  79,66
3365                     País Vasco  Grado de ocupación  1995  78,61
3366                     País Vasco  Grado de ocupación  1994  77,66
3367                     País Vasco  Grado de ocupación  1993  77,55
3368                     País Vasco  Grado de ocupación  1992  76,18
3369                     País Vasco  Grado de ocupación  1991  76,32

In [22]:
ocupacion_navarra = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Navarra, Comunidad Foral')]
ocupacion_navarra

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3300       Navarra, Comunidad Foral  Grado de ocupación  2000     ..
3301       Navarra, Comunidad Foral  Grado de ocupación  1999     ..
3302       Navarra, Comunidad Foral  Grado de ocupación  1998     ..
3303       Navarra, Comunidad Foral  Grado de ocupación  1997  79,28
3304       Navarra, Comunidad Foral  Grado de ocupación  1996  79,63
3305       Navarra, Comunidad Foral  Grado de ocupación  1995  78,77
3306       Navarra, Comunidad Foral  Grado de ocupación  1994  76,40
3307       Navarra, Comunidad Foral  Grado de ocupación  1993  77,47
3308       Navarra, Comunidad Foral  Grado de ocupación  1992  77,83
3309       Navarra, Comunidad Foral  Grado de ocupación  1991  79,29

In [24]:
ocupacion_aragon = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Aragón')]
ocupacion_aragon

    Comunidad Autónoma y Provincia      Tipo de índice  años  Total
600                         Aragón  Grado de ocupación  2000     ..
601                         Aragón  Grado de ocupación  1999     ..
602                         Aragón  Grado de ocupación  1998     ..
603                         Aragón  Grado de ocupación  1997  78,21
604                         Aragón  Grado de ocupación  1996  77,24
605                         Aragón  Grado de ocupación  1995  78,13
606                         Aragón  Grado de ocupación  1994  75,31
607                         Aragón  Grado de ocupación  1993  75,15
608                         Aragón  Grado de ocupación  1992  74,59
609                         Aragón  Grado de ocupación  1991  74,20

In [26]:
ocupacion_catalunya = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Cataluña')]
ocupacion_catalunya

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
2160                       Cataluña  Grado de ocupación  2000     ..
2161                       Cataluña  Grado de ocupación  1999     ..
2162                       Cataluña  Grado de ocupación  1998     ..
2163                       Cataluña  Grado de ocupación  1997  83,92
2164                       Cataluña  Grado de ocupación  1996  83,97
2165                       Cataluña  Grado de ocupación  1995  83,13
2166                       Cataluña  Grado de ocupación  1994  82,50
2167                       Cataluña  Grado de ocupación  1993  83,76
2168                       Cataluña  Grado de ocupación  1992  82,47
2169                       Cataluña  Grado de ocupación  1991  81,76

In [27]:
ocupacion_cyl = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Castilla y León')]
ocupacion_cyl

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
1200                Castilla y León  Grado de ocupación  2000     ..
1201                Castilla y León  Grado de ocupación  1999     ..
1202                Castilla y León  Grado de ocupación  1998     ..
1203                Castilla y León  Grado de ocupación  1997  81,06
1204                Castilla y León  Grado de ocupación  1996  81,95
1205                Castilla y León  Grado de ocupación  1995  79,40
1206                Castilla y León  Grado de ocupación  1994  76,63
1207                Castilla y León  Grado de ocupación  1993  76,77
1208                Castilla y León  Grado de ocupación  1992  75,44
1209                Castilla y León  Grado de ocupación  1991  76,33

In [29]:
ocupacion_rioja = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Rioja, La')]
ocupacion_rioja

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3600                      Rioja, La  Grado de ocupación  2000     ..
3601                      Rioja, La  Grado de ocupación  1999     ..
3602                      Rioja, La  Grado de ocupación  1998     ..
3603                      Rioja, La  Grado de ocupación  1997  73,93
3604                      Rioja, La  Grado de ocupación  1996  79,57
3605                      Rioja, La  Grado de ocupación  1995  86,77
3606                      Rioja, La  Grado de ocupación  1994  83,90
3607                      Rioja, La  Grado de ocupación  1993  83,67
3608                      Rioja, La  Grado de ocupación  1992  75,71
3609                      Rioja, La  Grado de ocupación  1991  80,77

In [31]:
ocupacion_madrid = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Madrid, Comunidad de')]
ocupacion_madrid

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3180           Madrid, Comunidad de  Grado de ocupación  2000     ..
3181           Madrid, Comunidad de  Grado de ocupación  1999     ..
3182           Madrid, Comunidad de  Grado de ocupación  1998     ..
3183           Madrid, Comunidad de  Grado de ocupación  1997  77,74
3184           Madrid, Comunidad de  Grado de ocupación  1996  78,65
3185           Madrid, Comunidad de  Grado de ocupación  1995  76,26
3186           Madrid, Comunidad de  Grado de ocupación  1994  73,87
3187           Madrid, Comunidad de  Grado de ocupación  1993  75,46
3188           Madrid, Comunidad de  Grado de ocupación  1992  75,16
3189           Madrid, Comunidad de  Grado de ocupación  1991  74,42

In [32]:
ocupacion_extrem = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Extremadura')]
ocupacion_extrem

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
2700                    Extremadura  Grado de ocupación  2000     ..
2701                    Extremadura  Grado de ocupación  1999     ..
2702                    Extremadura  Grado de ocupación  1998     ..
2703                    Extremadura  Grado de ocupación  1997  79,61
2704                    Extremadura  Grado de ocupación  1996  81,72
2705                    Extremadura  Grado de ocupación  1995  80,98
2706                    Extremadura  Grado de ocupación  1994  76,33
2707                    Extremadura  Grado de ocupación  1993  76,37
2708                    Extremadura  Grado de ocupación  1992  74,33
2709                    Extremadura  Grado de ocupación  1991  73,83

In [34]:
ocupacion_clm = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Castilla-La mancha')]
ocupacion_clm

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
1800             Castilla-La mancha  Grado de ocupación  2000     ..
1801             Castilla-La mancha  Grado de ocupación  1999     ..
1802             Castilla-La mancha  Grado de ocupación  1998     ..
1803             Castilla-La mancha  Grado de ocupación  1997  75,40
1804             Castilla-La mancha  Grado de ocupación  1996  80,02
1805             Castilla-La mancha  Grado de ocupación  1995  80,08
1806             Castilla-La mancha  Grado de ocupación  1994  76,09
1807             Castilla-La mancha  Grado de ocupación  1993  77,62
1808             Castilla-La mancha  Grado de ocupación  1992  78,35
1809             Castilla-La mancha  Grado de ocupación  1991  75,45

In [35]:
ocupacion_valencia = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Comunidad Valenciana')]
ocupacion_valencia

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
2460           Comunidad Valenciana  Grado de ocupación  2000     ..
2461           Comunidad Valenciana  Grado de ocupación  1999     ..
2462           Comunidad Valenciana  Grado de ocupación  1998     ..
2463           Comunidad Valenciana  Grado de ocupación  1997  75,27
2464           Comunidad Valenciana  Grado de ocupación  1996  75,47
2465           Comunidad Valenciana  Grado de ocupación  1995  74,81
2466           Comunidad Valenciana  Grado de ocupación  1994  71,39
2467           Comunidad Valenciana  Grado de ocupación  1993  72,92
2468           Comunidad Valenciana  Grado de ocupación  1992  72,97
2469           Comunidad Valenciana  Grado de ocupación  1991  73,00

In [36]:
ocupacion_andalucia = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Andalucía')]
ocupacion_andalucia

   Comunidad Autónoma y Provincia      Tipo de índice  años  Total
60                      Andalucía  Grado de ocupación  2000     ..
61                      Andalucía  Grado de ocupación  1999     ..
62                      Andalucía  Grado de ocupación  1998     ..
63                      Andalucía  Grado de ocupación  1997  75,24
64                      Andalucía  Grado de ocupación  1996  76,01
65                      Andalucía  Grado de ocupación  1995  76,30
66                      Andalucía  Grado de ocupación  1994  73,23
67                      Andalucía  Grado de ocupación  1993  75,06
68                      Andalucía  Grado de ocupación  1992  74,43
69                      Andalucía  Grado de ocupación  1991  74,95

In [38]:
ocupacion_murcia = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Murcia, Región de')]
ocupacion_murcia

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3240              Murcia, Región de  Grado de ocupación  2000     ..
3241              Murcia, Región de  Grado de ocupación  1999     ..
3242              Murcia, Región de  Grado de ocupación  1998     ..
3243              Murcia, Región de  Grado de ocupación  1997  80,36
3244              Murcia, Región de  Grado de ocupación  1996  78,20
3245              Murcia, Región de  Grado de ocupación  1995  79,08
3246              Murcia, Región de  Grado de ocupación  1994  74,15
3247              Murcia, Región de  Grado de ocupación  1993  70,80
3248              Murcia, Región de  Grado de ocupación  1992  68,13
3249              Murcia, Región de  Grado de ocupación  1991  67,97

In [39]:
ocupacion_ceuta = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Ceuta')]
ocupacion_ceuta

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3720                          Ceuta  Grado de ocupación  2000     ..
3721                          Ceuta  Grado de ocupación  1999     ..
3722                          Ceuta  Grado de ocupación  1998     ..
3723                          Ceuta  Grado de ocupación  1997  64,69
3724                          Ceuta  Grado de ocupación  1996  65,18
3725                          Ceuta  Grado de ocupación  1995  61,34
3726                          Ceuta  Grado de ocupación  1994  65,45
3727                          Ceuta  Grado de ocupación  1993  54,90
3728                          Ceuta  Grado de ocupación  1992  54,82
3729                          Ceuta  Grado de ocupación  1991  48,83

In [40]:
ocupacion_melilla = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Melilla')]
ocupacion_melilla

     Comunidad Autónoma y Provincia      Tipo de índice  años  Total
3780                        Melilla  Grado de ocupación  2000     ..
3781                        Melilla  Grado de ocupación  1999     ..
3782                        Melilla  Grado de ocupación  1998     ..
3783                        Melilla  Grado de ocupación  1997  69,36
3784                        Melilla  Grado de ocupación  1996  72,01
3785                        Melilla  Grado de ocupación  1995  67,05
3786                        Melilla  Grado de ocupación  1994  61,51
3787                        Melilla  Grado de ocupación  1993  57,75
3788                        Melilla  Grado de ocupación  1992  56,62
3789                        Melilla  Grado de ocupación  1991  60,44

In [41]:
ocupacion_canarias = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Canarias')]
ocupacion_canarias

    Comunidad Autónoma y Provincia      Tipo de índice  años  Total
960                       Canarias  Grado de ocupación  2000     ..
961                       Canarias  Grado de ocupación  1999     ..
962                       Canarias  Grado de ocupación  1998     ..
963                       Canarias  Grado de ocupación  1997  82,65
964                       Canarias  Grado de ocupación  1996  85,65
965                       Canarias  Grado de ocupación  1995  81,80
966                       Canarias  Grado de ocupación  1994  80,38
967                       Canarias  Grado de ocupación  1993  79,53
968                       Canarias  Grado de ocupación  1992  80,00
969                       Canarias  Grado de ocupación  1991  80,68

In [84]:
ocupacion_baleares = ocupacion[(ocupacion['Comunidad Autónoma y Provincia'] == 'Balears,Illes')]
ocupacion_baleares

    Comunidad Autónoma y Provincia      Tipo de índice  años  Total
900                  Balears,Illes  Grado de ocupación  2000     ..
901                  Balears,Illes  Grado de ocupación  1999     ..
902                  Balears,Illes  Grado de ocupación  1998     ..
903                  Balears,Illes  Grado de ocupación  1997  73,81
904                  Balears,Illes  Grado de ocupación  1996  75,95
905                  Balears,Illes  Grado de ocupación  1995  78,11
906                  Balears,Illes  Grado de ocupación  1994  72,40
907                  Balears,Illes  Grado de ocupación  1993  72,30
908                  Balears,Illes  Grado de ocupación  1992  72,80
909                  Balears,Illes  Grado de ocupación  1991  72,73

In [85]:
print(len([ocupacion_galicia , ocupacion_asturias , ocupacion_cantabria , ocupacion_pais_vasco , ocupacion_navarra , ocupacion_aragon , ocupacion_catalunya , ocupacion_cyl , ocupacion_rioja , ocupacion_madrid , ocupacion_extrem , ocupacion_clm , ocupacion_valencia ,ocupacion_baleares , ocupacion_andalucia , ocupacion_murcia , ocupacion_ceuta , ocupacion_melilla , ocupacion_canarias]))

19

In [86]:
ocupacion_comunidades_autonomas = pd.concat([ocupacion_galicia , ocupacion_asturias , ocupacion_cantabria , ocupacion_pais_vasco , ocupacion_navarra , ocupacion_aragon , ocupacion_catalunya , ocupacion_cyl , ocupacion_rioja , ocupacion_madrid , ocupacion_extrem , ocupacion_clm , ocupacion_valencia ,ocupacion_baleares , ocupacion_andalucia , ocupacion_murcia , ocupacion_ceuta , ocupacion_melilla , ocupacion_canarias] , axis= 0 , ignore_index=True)

In [87]:
ocupacion_comunidades_autonomas.to_csv("./Ocupacion_comunidades_1991-2000.csv" , sep= ';' , index = False)

In [88]:
prueba1 = pd.read_csv("./Ocupacion_comunidades_1991-2000.csv" , sep= ';')
prueba1.head()

  Comunidad Autónoma y Provincia      Tipo de índice  años  Total
0                        Galicia  Grado de ocupación  2000     ..
1                        Galicia  Grado de ocupación  1999     ..
2                        Galicia  Grado de ocupación  1998     ..
3                        Galicia  Grado de ocupación  1997  76,99
4                        Galicia  Grado de ocupación  1996  79,73

## Fin de purgado por ocupacion. A continuacion purgado por tiempos de estancia

In [55]:
estancias = df1[(df1['Tipo de índice'] =='Promedio de estancias/enfermo')]

In [56]:
estancias

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
10,Total,Promedio de estancias/enfermo,2000,..
11,Total,Promedio de estancias/enfermo,1999,..
12,Total,Promedio de estancias/enfermo,1998,..
13,Total,Promedio de estancias/enfermo,1997,"9,65"
14,Total,Promedio de estancias/enfermo,1996,"10,01"
...,...,...,...,...
3795,Melilla,Promedio de estancias/enfermo,1995,"8,73"
3796,Melilla,Promedio de estancias/enfermo,1994,"8,30"
3797,Melilla,Promedio de estancias/enfermo,1993,"8,10"
3798,Melilla,Promedio de estancias/enfermo,1992,"8,02"
3799,Melilla,Promedio de estancias/enfermo,1991,"9,65"

In [57]:
estancias_galicia = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Galicia']
estancias_galicia

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
2890,Galicia,Promedio de estancias/enfermo,2000,..
2891,Galicia,Promedio de estancias/enfermo,1999,..
2892,Galicia,Promedio de estancias/enfermo,1998,..
2893,Galicia,Promedio de estancias/enfermo,1997,"9,87"
2894,Galicia,Promedio de estancias/enfermo,1996,"10,54"
2895,Galicia,Promedio de estancias/enfermo,1995,"10,94"
2896,Galicia,Promedio de estancias/enfermo,1994,"11,25"
2897,Galicia,Promedio de estancias/enfermo,1993,"11,79"
2898,Galicia,Promedio de estancias/enfermo,1992,"12,68"
2899,Galicia,Promedio de estancias/enfermo,1991,"12,80"

In [58]:
estancias_asturias = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Asturias, Ppado de']
estancias_asturias

    Comunidad Autónoma y Provincia                 Tipo de índice  años  Total
850             Asturias, Ppado de  Promedio de estancias/enfermo  2000     ..
851             Asturias, Ppado de  Promedio de estancias/enfermo  1999     ..
852             Asturias, Ppado de  Promedio de estancias/enfermo  1998     ..
853             Asturias, Ppado de  Promedio de estancias/enfermo  1997  10,05
854             Asturias, Ppado de  Promedio de estancias/enfermo  1996  10,18
855             Asturias, Ppado de  Promedio de estancias/enfermo  1995  10,47
856             Asturias, Ppado de  Promedio de estancias/enfermo  1994  10,69
857             Asturias, Ppado de  Promedio de estancias/enfermo  1993  10,92
858             Asturias, Ppado de  Promedio de estancias/enfermo  1992  11,45
859             Asturias, Ppado de  Promedio de estancias/enfermo  1991  11,94

In [59]:
estancias_cantabria = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Cantabria']
estancias_cantabria

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
1150,Cantabria,Promedio de estancias/enfermo,2000,..
1151,Cantabria,Promedio de estancias/enfermo,1999,..
1152,Cantabria,Promedio de estancias/enfermo,1998,..
1153,Cantabria,Promedio de estancias/enfermo,1997,"12,16"
1154,Cantabria,Promedio de estancias/enfermo,1996,"12,41"
1155,Cantabria,Promedio de estancias/enfermo,1995,"13,39"
1156,Cantabria,Promedio de estancias/enfermo,1994,"13,04"
1157,Cantabria,Promedio de estancias/enfermo,1993,"12,71"
1158,Cantabria,Promedio de estancias/enfermo,1992,"13,19"
1159,Cantabria,Promedio de estancias/enfermo,1991,"13,69"

In [60]:
estancias_pais_vasco = estancias[estancias['Comunidad Autónoma y Provincia'] == 'País Vasco']
estancias_pais_vasco

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
3370,País Vasco,Promedio de estancias/enfermo,2000,..
3371,País Vasco,Promedio de estancias/enfermo,1999,..
3372,País Vasco,Promedio de estancias/enfermo,1998,..
3373,País Vasco,Promedio de estancias/enfermo,1997,"9,63"
3374,País Vasco,Promedio de estancias/enfermo,1996,"9,89"
3375,País Vasco,Promedio de estancias/enfermo,1995,"10,37"
3376,País Vasco,Promedio de estancias/enfermo,1994,"10,82"
3377,País Vasco,Promedio de estancias/enfermo,1993,"11,63"
3378,País Vasco,Promedio de estancias/enfermo,1992,"12,25"
3379,País Vasco,Promedio de estancias/enfermo,1991,"12,57"

In [64]:
estancias_navarra = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Navarra, Comunidad Foral']
estancias_navarra

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
3310,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,2000,..
3311,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1999,..
3312,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1998,..
3313,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1997,"10,13"
3314,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1996,"10,28"
3315,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1995,"10,73"
3316,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1994,"10,72"
3317,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1993,"11,59"
3318,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1992,"12,16"
3319,"Navarra, Comunidad Foral",Promedio de estancias/enfermo,1991,"12,64"

In [65]:
estancias_aragon = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Aragón']
estancias_aragon

    Comunidad Autónoma y Provincia                 Tipo de índice  años  Total
610                         Aragón  Promedio de estancias/enfermo  2000     ..
611                         Aragón  Promedio de estancias/enfermo  1999     ..
612                         Aragón  Promedio de estancias/enfermo  1998     ..
613                         Aragón  Promedio de estancias/enfermo  1997  10,34
614                         Aragón  Promedio de estancias/enfermo  1996  10,55
615                         Aragón  Promedio de estancias/enfermo  1995  11,33
616                         Aragón  Promedio de estancias/enfermo  1994  11,17
617                         Aragón  Promedio de estancias/enfermo  1993  11,71
618                         Aragón  Promedio de estancias/enfermo  1992  11,98
619                         Aragón  Promedio de estancias/enfermo  1991  12,37

In [66]:
estancias_catalunya = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Cataluña']
estancias_catalunya

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
2170,Cataluña,Promedio de estancias/enfermo,2000,..
2171,Cataluña,Promedio de estancias/enfermo,1999,..
2172,Cataluña,Promedio de estancias/enfermo,1998,..
2173,Cataluña,Promedio de estancias/enfermo,1997,"10,92"
2174,Cataluña,Promedio de estancias/enfermo,1996,"11,23"
2175,Cataluña,Promedio de estancias/enfermo,1995,"11,49"
2176,Cataluña,Promedio de estancias/enfermo,1994,"11,89"
2177,Cataluña,Promedio de estancias/enfermo,1993,"12,54"
2178,Cataluña,Promedio de estancias/enfermo,1992,"12,49"
2179,Cataluña,Promedio de estancias/enfermo,1991,"12,96"

In [67]:
estancias_cyl = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Castilla y León']
estancias_cyl

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
1210,Castilla y León,Promedio de estancias/enfermo,2000,..
1211,Castilla y León,Promedio de estancias/enfermo,1999,..
1212,Castilla y León,Promedio de estancias/enfermo,1998,..
1213,Castilla y León,Promedio de estancias/enfermo,1997,"11,84"
1214,Castilla y León,Promedio de estancias/enfermo,1996,"12,16"
1215,Castilla y León,Promedio de estancias/enfermo,1995,"13,35"
1216,Castilla y León,Promedio de estancias/enfermo,1994,"13,00"
1217,Castilla y León,Promedio de estancias/enfermo,1993,"13,96"
1218,Castilla y León,Promedio de estancias/enfermo,1992,"14,52"
1219,Castilla y León,Promedio de estancias/enfermo,1991,"15,46"

In [69]:
estancias_rioja = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Rioja, La']
estancias_rioja

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
3610,"Rioja, La",Promedio de estancias/enfermo,2000,..
3611,"Rioja, La",Promedio de estancias/enfermo,1999,..
3612,"Rioja, La",Promedio de estancias/enfermo,1998,..
3613,"Rioja, La",Promedio de estancias/enfermo,1997,"10,10"
3614,"Rioja, La",Promedio de estancias/enfermo,1996,"10,94"
3615,"Rioja, La",Promedio de estancias/enfermo,1995,"12,27"
3616,"Rioja, La",Promedio de estancias/enfermo,1994,"12,09"
3617,"Rioja, La",Promedio de estancias/enfermo,1993,"11,54"
3618,"Rioja, La",Promedio de estancias/enfermo,1992,"12,05"
3619,"Rioja, La",Promedio de estancias/enfermo,1991,"12,41"

In [72]:
estancias_madrid = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Madrid, Comunidad de']
estancias_madrid

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
3190,"Madrid, Comunidad de",Promedio de estancias/enfermo,2000,..
3191,"Madrid, Comunidad de",Promedio de estancias/enfermo,1999,..
3192,"Madrid, Comunidad de",Promedio de estancias/enfermo,1998,..
3193,"Madrid, Comunidad de",Promedio de estancias/enfermo,1997,"9,67"
3194,"Madrid, Comunidad de",Promedio de estancias/enfermo,1996,"9,90"
3195,"Madrid, Comunidad de",Promedio de estancias/enfermo,1995,"10,37"
3196,"Madrid, Comunidad de",Promedio de estancias/enfermo,1994,"10,57"
3197,"Madrid, Comunidad de",Promedio de estancias/enfermo,1993,"10,93"
3198,"Madrid, Comunidad de",Promedio de estancias/enfermo,1992,"11,17"
3199,"Madrid, Comunidad de",Promedio de estancias/enfermo,1991,"12,06"

In [73]:
estancias_exterm = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Extremadura']
estancias_exterm

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
2710,Extremadura,Promedio de estancias/enfermo,2000,..
2711,Extremadura,Promedio de estancias/enfermo,1999,..
2712,Extremadura,Promedio de estancias/enfermo,1998,..
2713,Extremadura,Promedio de estancias/enfermo,1997,"11,15"
2714,Extremadura,Promedio de estancias/enfermo,1996,"11,12"
2715,Extremadura,Promedio de estancias/enfermo,1995,"11,83"
2716,Extremadura,Promedio de estancias/enfermo,1994,"11,77"
2717,Extremadura,Promedio de estancias/enfermo,1993,"11,87"
2718,Extremadura,Promedio de estancias/enfermo,1992,"12,46"
2719,Extremadura,Promedio de estancias/enfermo,1991,"12,49"

In [74]:
estancias_clm = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Castilla-La mancha']
estancias_clm

,Comunidad Autónoma y Provincia,Tipo de índice,años,Total
1810,Castilla-La mancha,Promedio de estancias/enfermo,2000,..
1811,Castilla-La mancha,Promedio de estancias/enfermo,1999,..
1812,Castilla-La mancha,Promedio de estancias/enfermo,1998,..
1813,Castilla-La mancha,Promedio de estancias/enfermo,1997,"8,92"
1814,Castilla-La mancha,Promedio de estancias/enfermo,1996,"9,54"
1815,Castilla-La mancha,Promedio de estancias/enfermo,1995,"10,00"
1816,Castilla-La mancha,Promedio de estancias/enfermo,1994,"10,08"
1817,Castilla-La mancha,Promedio de estancias/enfermo,1993,"10,39"
1818,Castilla-La mancha,Promedio de estancias/enfermo,1992,"11,02"
1819,Castilla-La mancha,Promedio de estancias/enfermo,1991,"11,35"

In [75]:
estancias_valencia = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Comunidad Valenciana']
estancias_valencia

     Comunidad Autónoma y Provincia                 Tipo de índice  años Total
2470           Comunidad Valenciana  Promedio de estancias/enfermo  2000    ..
2471           Comunidad Valenciana  Promedio de estancias/enfermo  1999    ..
2472           Comunidad Valenciana  Promedio de estancias/enfermo  1998    ..
2473           Comunidad Valenciana  Promedio de estancias/enfermo  1997  7,28
2474           Comunidad Valenciana  Promedio de estancias/enfermo  1996  7,72
2475           Comunidad Valenciana  Promedio de estancias/enfermo  1995  8,07
2476           Comunidad Valenciana  Promedio de estancias/enfermo  1994  8,02
2477           Comunidad Valenciana  Promedio de estancias/enfermo  1993  8,64
2478           Comunidad Valenciana  Promedio de estancias/enfermo  1992  8,63
2479           Comunidad Valenciana  Promedio de estancias/enfermo  1991  9,16

In [76]:
estancias_andalucia = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Andalucía']
estancias_andalucia

   Comunidad Autónoma y Provincia                 Tipo de índice  años Total
70                      Andalucía  Promedio de estancias/enfermo  2000    ..
71                      Andalucía  Promedio de estancias/enfermo  1999    ..
72                      Andalucía  Promedio de estancias/enfermo  1998    ..
73                      Andalucía  Promedio de estancias/enfermo  1997  8,04
74                      Andalucía  Promedio de estancias/enfermo  1996  8,34
75                      Andalucía  Promedio de estancias/enfermo  1995  8,74
76                      Andalucía  Promedio de estancias/enfermo  1994  8,41
77                      Andalucía  Promedio de estancias/enfermo  1993  8,56
78                      Andalucía  Promedio de estancias/enfermo  1992  9,18
79                      Andalucía  Promedio de estancias/enfermo  1991  9,66

In [78]:
estancias_murcia = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Murcia, Región de']
estancias_murcia

     Comunidad Autónoma y Provincia                 Tipo de índice  años Total
3250              Murcia, Región de  Promedio de estancias/enfermo  2000    ..
3251              Murcia, Región de  Promedio de estancias/enfermo  1999    ..
3252              Murcia, Región de  Promedio de estancias/enfermo  1998    ..
3253              Murcia, Región de  Promedio de estancias/enfermo  1997  8,82
3254              Murcia, Región de  Promedio de estancias/enfermo  1996  8,93
3255              Murcia, Región de  Promedio de estancias/enfermo  1995  9,06
3256              Murcia, Región de  Promedio de estancias/enfermo  1994  8,88
3257              Murcia, Región de  Promedio de estancias/enfermo  1993  8,75
3258              Murcia, Región de  Promedio de estancias/enfermo  1992  8,50
3259              Murcia, Región de  Promedio de estancias/enfermo  1991  9,09

In [79]:
estancias_ceuta = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Ceuta']
estancias_ceuta

     Comunidad Autónoma y Provincia                 Tipo de índice  años Total
3730                          Ceuta  Promedio de estancias/enfermo  2000    ..
3731                          Ceuta  Promedio de estancias/enfermo  1999    ..
3732                          Ceuta  Promedio de estancias/enfermo  1998    ..
3733                          Ceuta  Promedio de estancias/enfermo  1997  5,72
3734                          Ceuta  Promedio de estancias/enfermo  1996  5,83
3735                          Ceuta  Promedio de estancias/enfermo  1995  5,65
3736                          Ceuta  Promedio de estancias/enfermo  1994  6,06
3737                          Ceuta  Promedio de estancias/enfermo  1993  6,22
3738                          Ceuta  Promedio de estancias/enfermo  1992  7,20
3739                          Ceuta  Promedio de estancias/enfermo  1991  5,87

In [80]:
estancias_melilla = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Melilla']
estancias_melilla

     Comunidad Autónoma y Provincia                 Tipo de índice  años Total
3790                        Melilla  Promedio de estancias/enfermo  2000    ..
3791                        Melilla  Promedio de estancias/enfermo  1999    ..
3792                        Melilla  Promedio de estancias/enfermo  1998    ..
3793                        Melilla  Promedio de estancias/enfermo  1997  8,56
3794                        Melilla  Promedio de estancias/enfermo  1996  9,14
3795                        Melilla  Promedio de estancias/enfermo  1995  8,73
3796                        Melilla  Promedio de estancias/enfermo  1994  8,30
3797                        Melilla  Promedio de estancias/enfermo  1993  8,10
3798                        Melilla  Promedio de estancias/enfermo  1992  8,02
3799                        Melilla  Promedio de estancias/enfermo  1991  9,65

In [81]:
estancias_canarias = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Canarias']
estancias_canarias

    Comunidad Autónoma y Provincia                 Tipo de índice  años  Total
970                       Canarias  Promedio de estancias/enfermo  2000     ..
971                       Canarias  Promedio de estancias/enfermo  1999     ..
972                       Canarias  Promedio de estancias/enfermo  1998     ..
973                       Canarias  Promedio de estancias/enfermo  1997  12,73
974                       Canarias  Promedio de estancias/enfermo  1996  13,71
975                       Canarias  Promedio de estancias/enfermo  1995  14,30
976                       Canarias  Promedio de estancias/enfermo  1994  15,50
977                       Canarias  Promedio de estancias/enfermo  1993  16,12
978                       Canarias  Promedio de estancias/enfermo  1992  16,17
979                       Canarias  Promedio de estancias/enfermo  1991  16,62

In [89]:
estancias_baleares = estancias[estancias['Comunidad Autónoma y Provincia'] == 'Balears,Illes']
estancias_baleares

    Comunidad Autónoma y Provincia                 Tipo de índice  años Total
910                  Balears,Illes  Promedio de estancias/enfermo  2000    ..
911                  Balears,Illes  Promedio de estancias/enfermo  1999    ..
912                  Balears,Illes  Promedio de estancias/enfermo  1998    ..
913                  Balears,Illes  Promedio de estancias/enfermo  1997  7,41
914                  Balears,Illes  Promedio de estancias/enfermo  1996  7,83
915                  Balears,Illes  Promedio de estancias/enfermo  1995  8,02
916                  Balears,Illes  Promedio de estancias/enfermo  1994  8,13
917                  Balears,Illes  Promedio de estancias/enfermo  1993  8,42
918                  Balears,Illes  Promedio de estancias/enfermo  1992  9,10
919                  Balears,Illes  Promedio de estancias/enfermo  1991  9,20

In [90]:
print(len([estancias_galicia , estancias_asturias , estancias_cantabria , estancias_pais_vasco , estancias_navarra , estancias_aragon , estancias_catalunya , estancias_cyl , estancias_rioja , estancias_madrid , estancias_exterm , estancias_clm , estancias_valencia , estancias_baleares , estancias_andalucia , estancias_murcia , estancias_ceuta , estancias_melilla , estancias_canarias]))

19

In [92]:
estancia_comunidades_autonomas = pd.concat([estancias_galicia , estancias_asturias , estancias_cantabria , estancias_pais_vasco , estancias_navarra , estancias_aragon , estancias_catalunya , estancias_cyl , estancias_rioja , estancias_madrid , estancias_exterm , estancias_clm , estancias_valencia , estancias_baleares , estancias_andalucia , estancias_murcia , estancias_ceuta , estancias_melilla , estancias_canarias] , axis= 0 , ignore_index=True)

In [93]:
estancia_comunidades_autonomas.to_csv('./Estancia_comunidades_1991-2000.csv' , sep= ';' , index= False)

In [95]:
prueba2 = pd.read_csv('./Estancia_comunidades_1991-2000.csv' , sep= ';')

In [96]:
prueba2.head()

  Comunidad Autónoma y Provincia                 Tipo de índice  años  Total
0                        Galicia  Promedio de estancias/enfermo  2000     ..
1                        Galicia  Promedio de estancias/enfermo  1999     ..
2                        Galicia  Promedio de estancias/enfermo  1998     ..
3                        Galicia  Promedio de estancias/enfermo  1997   9,87
4                        Galicia  Promedio de estancias/enfermo  1996  10,54